{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %} Вопросы {% endblock %}  <!-- Вставляем нужное название в блок -->
{% block content %} <!-- Заполняет блок контента -->
        <h1> Форма по добавлению вопроса </h1>
        <form method="post"> <!-- Используем метод, чтоб отправить данные на сайт -->
            {% csrf_token %} <!-- НАДО ПОЯСНИТЬ зачем мы его подключаем-->
            {{ form.topic }}<br>  <!-- Получаем тему вопроса-->
            {{ form.text }}<br> <!-- Получаем текст вопроса-->
            {{ form.FIO }}<br>  <!-- Получаем информацию об авторе вопроса, верим, что он заполнит все корректно-->
            {{ form.email }}<br>
            {{ form.NumberPhone }}<br>
            <span>{{ error }}</span> <!-- В случае неправильного заполнения формы ввыодится данное сообщение-->
            <button class="btn btn-success" type="submit"> Задать вопрос </button> <!-- Кнопка для отправки формы-->
        </form>

{% endblock %} <!-- закрываем блок контента-->



