{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Расписание{% endblock %}
{% block content %}
    {% if user.is_authenticated and user.headteacher %}
        <div class="d-flex justify-content-end">
            <a href="{% url 'lessons:lesson_create' %}"><button type="submit" class="btn btn-warning" style="border: 1px solid #000;color: black; text-decoration: none;">Создать занятие</button>
            </a>
        </div>
        {% if list_of_course %}
            <h2>Курсы</h2>
        <div class="button-container">
        {% for el in list_of_course %}
    <div class="button-wrapper">
        <a href="{% url 'lessons:course_schedule' course_id=el.id  %}"><button type="button" class="btn btn-info" style="border: 1px solid #000;">{{ el.name_of_course }}</button></a>
    </div>
  {% endfor %}
</div>
            {% else %}
             Вы пока не создали ни одного курса
            {% endif %}
        {% if list_of_study_group %}
            <br>
        <h2>Группы</h2>

        <div class="button-container">
        {% for el in list_of_study_group %}
    <div class="button-wrapper">
      <a href="{% url 'lessons:group_schedule' group_id=el.id  %}"><button type="button" class="btn btn-primary btn-block" style="border: 1px solid #000; margin-block: 10px;">{{ el.name_of_group }}</button></a>
    </div>
  {% endfor %}
</div>
            {% else %}
             Вы пока не создали ни одной группы
            {% endif %}
    {% endif %}

{% endblock %}