{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Расписание{% endblock %}
{% block content %}
    {% if user.is_authenticated and user.headteacher %}
        <div><button type="button" class="btn btn-warning" style="border: 1px solid #000;color: black; text-decoration: none;"><a href="{% url 'lessons:lesson_create' %}">Создать урок</a></button></div>
        {% if list_of_course %}
            <h2>Курсы</h2>
        <div class="button-container">
        {% for el in list_of_course %}
    <div class="button-wrapper">
      <button type="button" class="btn btn-info" style="border: 1px solid #000;"><a href="#">{{ el.name_of_course }}</a></button>
    </div>
  {% endfor %}
</div>
            {% else %}
             Вы пока не создали ни одного курса
            {% endif %}
        {% if list_of_study_group %}
        <h2>Группы</h2>

        <div class="button-container">
        {% for el in list_of_study_group %}
    <div class="button-wrapper">
      <button type="button" class="btn btn-info" style="border: 1px solid #000;"><a href="{% url 'lessons:group_schedule' group_id=el.id  %}">{{ el.name_of_group }}</a></button>
    </div>
  {% endfor %}
</div>
            {% else %}
             Вы пока не создали ни одной группы
            {% endif %}
    {% endif %}

{% endblock %}