{% extends "layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Добавление урока{% endblock %}
{% block content %}
    <h1>Форма по добавлению урока</h1>
       <form method="post">

    {% csrf_token %}
     {% bootstrap_form form layout='horizontal' %}
        {% buttons submit='Создать' %}{% endbuttons %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}